[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
web3 = "*"
two1 = "*"
base58 = "*"
mnemonic = "*"
ipykernel = "*"
pandas = "*"
neocore = "*"
cryptos = "*"
bitcoin-utils = "*"

[requires]
python_version = "3.7"
