[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-bitcoinrpc = "==1.0"
jsonschema = "~=3.0.2"
pycoin = "==0.80"
python-bitcoinlib = {editable = true,git = "https://github.com/petertodd/python-bitcoinlib.git"}
jupyter = "*"
pandas = "*"
ipykernel = "*"
two1 = "*"
pycryptodome = "*"
neocore = "*"
eth-utils = "*"
bitcoin-utils = "*"
web3 = "*"
halo = "*"

[requires]
python_version = "3.6"
